body {
	padding-top: 50px;
}

.stratum-proxy {
	padding: 40px 15px;
	text-align: center;
}

div[class*="Value"] {
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.spin {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

@
-moz-keyframes spin {from { -moz-transform:rotate(0deg);
	
}

to {
	-moz-transform: rotate(360deg);
}

}
@
-webkit-keyframes spin {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
@
keyframes spin {from { transform:rotate(0deg);
	
}

to {
	transform: rotate(360deg);
}

}
.chartLoader {
	height: 400px;
	width: 100%;
	background-position: center center;
	background-image:
		url('data:image/gif;base64,R0lGODlhIAAgAPMAAP///z4+PtTU1KKiosjIyLOzs2dnZ4CAgOLi4uvr68zMzFVVVUJCQj4+Pj4+Pj4+PiH5BAkKAAAAIf4aQ3JlYXRlZCB3aXRoIGFqYXhsb2FkLmluZm8AIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAIAAgAAAE5xDISWlhperN52JLhSSdRgwVo1ICQZRUsiwHpTJT4iowNS8vyW2icCF6k8HMMBkCEDskxTBDAZwuAkkqIfxIQyhBQBFvAQSDITM5VDW6XNE4KagNh6Bgwe60smQUB3d4Rz1ZBApnFASDd0hihh12BkE9kjAJVlycXIg7CQIFA6SlnJ87paqbSKiKoqusnbMdmDC2tXQlkUhziYtyWTxIfy6BE8WJt5YJvpJivxNaGmLHT0VnOgSYf0dZXS7APdpB309RnHOG5gDqXGLDaC457D1zZ/V/nmOM82XiHRLYKhKP1oZmADdEAAAh+QQJCgAAACwAAAAAIAAgAAAE6hDISWlZpOrNp1lGNRSdRpDUolIGw5RUYhhHukqFu8DsrEyqnWThGvAmhVlteBvojpTDDBUEIFwMFBRAmBkSgOrBFZogCASwBDEY/CZSg7GSE0gSCjQBMVG023xWBhklAnoEdhQEfyNqMIcKjhRsjEdnezB+A4k8gTwJhFuiW4dokXiloUepBAp5qaKpp6+Ho7aWW54wl7obvEe0kRuoplCGepwSx2jJvqHEmGt6whJpGpfJCHmOoNHKaHx61WiSR92E4lbFoq+B6QDtuetcaBPnW6+O7wDHpIiK9SaVK5GgV543tzjgGcghAgAh+QQJCgAAACwAAAAAIAAgAAAE7hDISSkxpOrN5zFHNWRdhSiVoVLHspRUMoyUakyEe8PTPCATW9A14E0UvuAKMNAZKYUZCiBMuBakSQKG8G2FzUWox2AUtAQFcBKlVQoLgQReZhQlCIJesQXI5B0CBnUMOxMCenoCfTCEWBsJColTMANldx15BGs8B5wlCZ9Po6OJkwmRpnqkqnuSrayqfKmqpLajoiW5HJq7FL1Gr2mMMcKUMIiJgIemy7xZtJsTmsM4xHiKv5KMCXqfyUCJEonXPN2rAOIAmsfB3uPoAK++G+w48edZPK+M6hLJpQg484enXIdQFSS1u6UhksENEQAAIfkECQoAAAAsAAAAACAAIAAABOcQyEmpGKLqzWcZRVUQnZYg1aBSh2GUVEIQ2aQOE+G+cD4ntpWkZQj1JIiZIogDFFyHI0UxQwFugMSOFIPJftfVAEoZLBbcLEFhlQiqGp1Vd140AUklUN3eCA51C1EWMzMCezCBBmkxVIVHBWd3HHl9JQOIJSdSnJ0TDKChCwUJjoWMPaGqDKannasMo6WnM562R5YluZRwur0wpgqZE7NKUm+FNRPIhjBJxKZteWuIBMN4zRMIVIhffcgojwCF117i4nlLnY5ztRLsnOk+aV+oJY7V7m76PdkS4trKcdg0Zc0tTcKkRAAAIfkECQoAAAAsAAAAACAAIAAABO4QyEkpKqjqzScpRaVkXZWQEximw1BSCUEIlDohrft6cpKCk5xid5MNJTaAIkekKGQkWyKHkvhKsR7ARmitkAYDYRIbUQRQjWBwJRzChi9CRlBcY1UN4g0/VNB0AlcvcAYHRyZPdEQFYV8ccwR5HWxEJ02YmRMLnJ1xCYp0Y5idpQuhopmmC2KgojKasUQDk5BNAwwMOh2RtRq5uQuPZKGIJQIGwAwGf6I0JXMpC8C7kXWDBINFMxS4DKMAWVWAGYsAdNqW5uaRxkSKJOZKaU3tPOBZ4DuK2LATgJhkPJMgTwKCdFjyPHEnKxFCDhEAACH5BAkKAAAALAAAAAAgACAAAATzEMhJaVKp6s2nIkolIJ2WkBShpkVRWqqQrhLSEu9MZJKK9y1ZrqYK9WiClmvoUaF8gIQSNeF1Er4MNFn4SRSDARWroAIETg1iVwuHjYB1kYc1mwruwXKC9gmsJXliGxc+XiUCby9ydh1sOSdMkpMTBpaXBzsfhoc5l58Gm5yToAaZhaOUqjkDgCWNHAULCwOLaTmzswadEqggQwgHuQsHIoZCHQMMQgQGubVEcxOPFAcMDAYUA85eWARmfSRQCdcMe0zeP1AAygwLlJtPNAAL19DARdPzBOWSm1brJBi45soRAWQAAkrQIykShQ9wVhHCwCQCACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiRMDjI0Fd30/iI2UA5GSS5UDj2l6NoqgOgN4gksEBgYFf0FDqKgHnyZ9OX8HrgYHdHpcHQULXAS2qKpENRg7eAMLC7kTBaixUYFkKAzWAAnLC7FLVxLWDBLKCwaKTULgEwbLA4hJtOkSBNqITT3xEgfLpBtzE/jiuL04RGEBgwWhShRgQExHBAAh+QQJCgAAACwAAAAAIAAgAAAE7xDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfZiCqGk5dTESJeaOAlClzsJsqwiJwiqnFrb2nS9kmIcgEsjQydLiIlHehhpejaIjzh9eomSjZR+ipslWIRLAgMDOR2DOqKogTB9pCUJBagDBXR6XB0EBkIIsaRsGGMMAxoDBgYHTKJiUYEGDAzHC9EACcUGkIgFzgwZ0QsSBcXHiQvOwgDdEwfFs0sDzt4S6BK4xYjkDOzn0unFeBzOBijIm1Dgmg5YFQwsCMjp1oJ8LyIAACH5BAkKAAAALAAAAAAgACAAAATwEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GGl6NoiPOH16iZKNlH6KmyWFOggHhEEvAwwMA0N9GBsEC6amhnVcEwavDAazGwIDaH1ipaYLBUTCGgQDA8NdHz0FpqgTBwsLqAbWAAnIA4FWKdMLGdYGEgraigbT0OITBcg5QwPT4xLrROZL6AuQAPUS7bxLpoWidY0JtxLHKhwwMJBTHgPKdEQAACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq+E71SRQeyqUToLA7VxF0JDyIQh/MVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GAULDJCRiXo1CpGXDJOUjY+Yip9DhToJA4RBLwMLCwVDfRgbBAaqqoZ1XBMHswsHtxtFaH1iqaoGNgAIxRpbFAgfPQSqpbgGBqUD1wBXeCYp1AYZ19JJOYgH1KwA4UBvQwXUBxPqVD9L3sbp2BNk2xvvFPJd+MFCN6HAAIKgNggY0KtEBAAh+QQJCgAAACwAAAAAIAAgAAAE6BDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfYIDMaAFdTESJeaEDAIMxYFqrOUaNW4E4ObYcCXaiBVEgULe0NJaxxtYksjh2NLkZISgDgJhHthkpU4mW6blRiYmZOlh4JWkDqILwUGBnE6TYEbCgevr0N1gH4At7gHiRpFaLNrrq8HNgAJA70AWxQIH1+vsYMDAzZQPC9VCNkDWUhGkuE5PxJNwiUK4UfLzOlD4WvzAHaoG9nxPi5d+jYUqfAhhykOFwJWiAAAIfkECQoAAAAsAAAAACAAIAAABPAQyElpUqnqzaciSoVkXVUMFaFSwlpOCcMYlErAavhOMnNLNo8KsZsMZItJEIDIFSkLGQoQTNhIsFehRww2CQLKF0tYGKYSg+ygsZIuNqJksKgbfgIGepNo2cIUB3V1B3IvNiBYNQaDSTtfhhx0CwVPI0UJe0+bm4g5VgcGoqOcnjmjqDSdnhgEoamcsZuXO1aWQy8KAwOAuTYYGwi7w5h+Kr0SJ8MFihpNbx+4Erq7BYBuzsdiH1jCAzoSfl0rVirNbRXlBBlLX+BP0XJLAPGzTkAuAOqb0WT5AH7OcdCm5B8TgRwSRKIHQtaLCwg1RAAAOw==');
	background-repeat: no-repeat;
}

.top5 {
	margin-top: 5px;
}

.top7 {
	margin-top: 7px;
}

.top10 {
	margin-top: 10px;
}

.top15 {
	margin-top: 15px;
}

.top20 {
	margin-top: 20px;
}

.top30 {
	margin-top: 30px;
}

.bottom5 {
	margin-bottom: 5px;
}

.bottom7 {
	margin-bottom: 7px;
}

.bottom10 {
	margin-bottom: 10px;
}

.bottom15 {
	margin-bottom: 15px;
}

.bottom20 {
	margin-bottom: 20px;
}

.bottom30 {
	margin-bottom: 30px;
}

/* columns of same height styles */
.container-xs-height {
	display: table;
	padding-left: 0px;
	padding-right: 0px;
}

.row-xs-height {
	display: table-row;
}

.col-xs-height {
	display: table-cell;
	float: none;
}

@media ( min-width : 768px) {
	.container-sm-height {
		display: table;
		padding-left: 0px;
		padding-right: 0px;
	}
	.row-sm-height {
		display: table-row;
	}
	.col-sm-height {
		display: table-cell;
		float: none;
	}
}

@media ( min-width : 992px) {
	.container-md-height {
		display: table;
		padding-left: 0px;
		padding-right: 0px;
	}
	.row-md-height {
		display: table-row;
	}
	.col-md-height {
		display: table-cell;
		float: none;
	}
}

@media ( min-width : 1200px) {
	.container-lg-height {
		display: table;
		padding-left: 0px;
		padding-right: 0px;
	}
	.row-lg-height {
		display: table-row;
	}
	.col-lg-height {
		display: table-cell;
		float: none;
	}
}

.col-top {
	vertical-align: top;
}

.col-middle {
	vertical-align: middle;
}

.col-bottom {
	vertical-align: bottom;
}

pre {
	white-space: pre-wrap;
	word-break: keep-all;
}

#totopscroller {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 43px;
	opacity: 0.6;
}

#totopscroller div {
	width: 49px;
	height: 43px;
	position: relative;
}

#totopscroller a {
	display: none;
	background:
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAACBCAIAAADmNMU+AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTFH80I3AAAENUlEQVR4Xu3ae5OaOhzG8b7/17YI6xXERXeVlW7dy7Fa12EYzw8Tu9ySPCE5Z9qZfP9qBfVToFwSv13+vJwJy5mwnAnLmbCcCcuZsKyY8o80mUfRYv2R81eMMjedXuKxd8fygig98df7Z2iqglgWWCamNohlyuptEoFY3nC+7c3qZ5KDWP1ZPUwIiNWTpWvCQaw+LC2TBOQNR0PhIk0WbpKCym9VroAGmsDvy3cPFliISWsDWGApTT32iClLZdot7vnHNZJ/uoTlzzO+kiiVKQ35R9XyxvGL6p8rZE1WB76KIJXp/BwF/LNuISBWF8ubrH7yxaLUx3jxtpp+sXAQq87yxslbwZeIU5uoYr+Jxr7vD2eJFoiV75az4fXdKwBEQab/OWfCciYsZ8JyJixnwnImLGfCciYsfVP+eTgcPq0MEgrSMJ1eErqH/bq5HvjjcPn9CN3OagWaiv3TrPn8whpAt/1aISYxiIU9jeApTW1QMEseF5XHqzKrW0thOqVhAzRlD0TFcdNYYo8lNRXbuc+/8doNxOpiLd/5QpOkpqxK6jpqWixvtj7zZf2TmmoDGOGmc880WdMnY5TU9BxVRiD8cFN7Lr+eO6+nzx9xZTxolBjvPqnpvJ5Vh0UqQ05FFge3RUFQ3U7j5B+2Sv+kpsvlPakP1txY78mIv9LofrFj7zRIYaKzwXZeH2RmrCaW1dy//VKaqA7Wwy7fLyf8r7+brI60enHcpctFVLZYrrNX7es1YqJarO6C+WYT/T7Qbg3uw6e9xukUNFFClucBWp2zPG6i6G5l2tgKg1G83bfHPKnBYMD/xINZWqZr+edrtr6Wvf46sy85rtrH1vKQty7fGEvf1O7natK194Lo+dxxV1G7ZnZmwSQc1men9A7WPJOqzE2H6n4bzsIxP4wq+6nFkg/bm5vqp3S6UhfnX+1niKJ2UbwLU/56Vxb2Xe1KLRzTLzbVmwzphrJgKrJ5bcd0sRqzHPJ5IAsmun/I4sbFZ0wXH76wBVIe5FZMVPuayFktkPoXEbZM1CltXOruwwd6StUEURZNVItVC/3NiF0TJWJBs64s6yYq/1jHk6HPzp2eHwwn8eNOY1zhvzCZ5kxYzoTlTFjOhOVMWM6E5UxYzoTlTFjOhPUXm/KPcrww1Xki+qocnC6HGt/5SKMqwFSd5dGf0izektsoGTJuWKY0tWYVdVhVECuYPirniFSm2hTeLYzVBl3zwlTxXpWp+zfIapYAVKac4VOZqpNijcQsCeg6Qs1XEwUc45IBnC6WFBRugP+5gImCWeYgCjNRAMsKiIJNlJT1sF42fgfxlQ6I0jFREpYoTRClaaK0WPogSt9EgaxeIKqXiVKy+oKoviZKwjIAUQYmqpNlBqLMTFSDZQyijE3UaRuPynPlYBQ/G4MoGybbOROWM2E5E5YzYTkT0uXyLzqp4WOCOiyFAAAAAElFTkSuQmCC');
	width: 49px;
	height: 43px;
	display: block;
	text-decoration: none;
	border: medium none;
	margin: 0 0 -1px;
	border: 1px solid #949494;
}

.totopscroller-top {
	background-position: 0 0 !important;
}

.totopscroller-lnk {
	background-position: 0 -43px !important;
}

.totopscroller-bottom {
	background-position: 0 -86px !important;
	position: absolute;
	top: 0;
	left: 0;
}

.donationText {
	font-size: 12px;
	opacity: 0.7;
}