<div id="connectionItem-{{connectionItemId}}"
	class="listItem connectionItem panel-success panel row">
	<div class="panel-heading">
		<h3 class="panel-title">{{name}}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.remoteHostLabel">Remote host</label>
			<div class="col-sm-3 tooltipOnOverflow">{{remoteHost}}</div>
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.authorizedUsersLabel">Authorized users</label>
			<div class="col-sm-3 tooltipOnOverflow">{{authorizedUsers}}</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.acceptedHashrateLabel">Accepted
				hashrate</label>
			<div class="col-sm-3 tooltipOnOverflow">{{acceptedHashesPerSeconds}}</div>
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.rejectedHashrateLabel">Rejected
				hashrate</label>
			<div class="col-sm-3 tooltipOnOverflow">{{rejectedHashesPerSeconds}}</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.isActiveSinceLabel">Is active since</label>
			<div class="col-sm-3 tooltipOnOverflow">{{isActiveSince}}</div>
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.workingOnPoolLabel">Working on pool</label>
			<div class="col-sm-3 tooltipOnOverflow">{{poolName}}</div>
		</div>
		<div class="row">
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.extranonceNotificationSupportedLabel">Is extranonce notification supported</label>
			<div class="col-sm-3 tooltipOnOverflow">{{isExtranonceNotificationSupported}}</div>
			<label class="col-sm-3 control-label"
				data-i18n="connectionItem.connectionTypeLabel">Connection type</label>
			<div class="col-sm-3 tooltipOnOverflow">{{connectionType}}</div>
		</div>

<!-- 		<div class="row top20 bottom20"> -->
<!-- 			<div class="text-center"> -->
<!-- 				<div class="btn-group"> -->
<!-- 					<a class="btn btn-warning kickUser" -->
<!-- 						data-i18n="connectionItem.kickButtonLabel" -->
<!-- 						{{^user.isActive}} -->
<!-- 						disabled="disabled"{{/user.isActive}}>Kick</a><a -->
<!-- 						class="btn btn-danger banUser" -->
<!-- 						data-i18n="connectionItem.banButtonLabel" -->
<!-- 						{{^user.isActive}} -->
<!-- 						disabled="disabled"{{/user.isActive}}>Ban</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</div>
</div>