<div id="poolsPage" class="container">
	<div class="container container-sm-height">
		<div class="row row-sm-height">
			<div class="col-sm-3 col-sm-height col-middle">
				<h1>Pool list</h1>
			</div>
			<div
				class="col-sm-9 autoRefreshContainer col-sm-height col-middle text-right">
				<span class="h6 autoRefreshCountDown"></span><a
					class="btn btn-default btn-mini refreshButton"><i
					class="icon-black glyphicon glyphicon-refresh"></i> Refresh</a> <a
					class="btn btn-default btn-mini addPoolButton"><i
					class="icon-black glyphicon glyphicon-plus"></i> Add</a>
			</div>
		</div>
	</div>
	<div class="row poolItemContainer"></div>
</div>